.about{
    background-color: blueviolet;
}


.aft {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.aft1 {
background-color: #cc1f05;
    width: 7%;
    height: 5px;
    transform: translateX(-10%);
    
    
}



.aft3 {
    background-color: #cc1f05;
    width: 7%;
    height: 5px;
    transform: translateX(10%);
}